# =========================
# OS & Editor
# =========================
.DS_Store
Thumbs.db

/.idea
/.vscode
/.fleet
/.zed
/.nova

# =========================
# Environment & Secrets
# =========================
.env
.env.*
!.env.example

/auth.json

# =========================
# Logs & Cache
# =========================
*.log
npm-debug.log*
yarn-error.log*

.phpunit.result.cache
/.phpunit.cache
/.phpactor.json

# =========================
# Laravel Runtime
# =========================
/vendor/
/node_modules/

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/.gitignore

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# =========================
# Docker
# =========================
docker-compose.override.yml
*.pid

# =========================
# Homestead (Legacy)
# =========================
Homestead.json
Homestead.yaml
